
.cr-blue{
    color: #0099cd;
}

.cr-green{
    color: #659933;
}

.text-black{
    color: black;
}

.cr-bg-blue{
    background-color: #0099cd;
}

.cr-bg-green{
    background-color: #659933;
}

.cr-gradient{
    background: #0099CD;
    background: -webkit-linear-gradient(to right, #0099CD 44%, #659933 100%);
    background: -moz-linear-gradient(to right, #0099CD 44%, #659933 100%);
    background: linear-gradient(to right, #0099CD 44%, #659933 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cr-hr{
    color: black;
    height: 1px;
    opacity: 1;
    margin: 0;
    padding: 3px 0 0 0;
}

.bg_blur{
    filter: blur(4px);
}

.light-transparent{
    background-color: #f4f5f7e0 !important;
}

body{
    background-image: url("/Img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none !important;
}

.animate-05{
transition-duration: 0.5s;
}

.hover-size-01:hover{
    transform: scale(1.1);
    opacity: 0.9;
}

.hover-size-01:active{
    transform: scale(1.05);
    opacity: 1;
}

.hover-ps-3:hover{
    padding-left: 3rem !important;
}

.hover-ps-4:hover{
    padding-left: 4rem !important;
}

.head_logo:hover{
    transform: scale(1.1);
    margin-top: -1rem !important;
}

.head_logo img{
    height: 7rem;
    width: unset !important;
}

.login_button:hover{
    transform: scale(1.1);
    background-color: white;
}

/*Custom title*/

[data-title] {

    font-size: 30px; /*optional styling*/
    transition-duration: 0.2s;
    position: relative;
    cursor: help;
    z-index: 999;
}


[data-title]:hover::before {
    z-index: 999;
    content: attr(data-title);
    position: absolute;
    bottom: -26px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 2px;
    background: #2b2b2c;
    color: #fff;
    font-size: 24px;
    font-family: sans-serif;
    white-space: nowrap;

}


.statistic_table tr:nth-child(even) {
    background: white;
    border-radius: 1rem;
}
.statistic_table tr:nth-child(odd) {
    background: #f8f8f8;
    border-radius: 1rem;
}

.statistic_table  tr.head {
    background: transparent !important;
}
.statistic_table  tr.head:hover {
    background: transparent !important;
}

.statistic_table tr:hover {
    background: #b9edff;
    border-radius: 1rem;
}

.table-head-title{
    transition-duration: 0.5s;
    cursor: help;
}
.table-head-title:hover{
    transform: rotate(-90deg) scale(1.2);

}

td:first-child,
th:first-child {
    border-radius: 10px 0 0 10px;
}
td:last-child,
th:last-child {
    border-radius: 0 10px 10px 0;
}


/*temperature bar*/

.temp-color-1, .temp-color-0{
    color: #0099cd;
}

.temp-color-2{
    color: #ff9f1c;
}

.temp-color-3{
    color: #ba1b02;
}

.temp-color-4{
    color: #262626;
}

/*background*/
.temp-bg-color-1, .temp-bg-color-0{
    background-color: #0099cd;
}

.temp-bg-color-2{
    background-color: #ff9f1c;
}

.temp-bg-color-3{
    background-color: #ba1b02;
}

.temp-bg-color-4{
    background-color: #262626;
}


/*Button bar*/

.cr-button{
    margin-bottom: -5rem;
    cursor: pointer;
    transition-duration: 0.2s;

}

.cr-button:hover{
margin-top: -4rem;

}

.cr-button:active{
    transform: scale(0.95);

}





