body{
    background-image: url("/Img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.container {
    display: flex;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    padding: 5rem;
    align-items: center;

}

.bold {
    font-weight: bold;
}

img {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p.copyright {
    text-align: center;
    font-size: small;
    font-weight: 800;
    opacity: 0.5;
}

p.promo {
    padding: 0 2rem;
    font-size: xx-large;
    margin-bottom: 5rem;
    text-align: center;

}

.play_button {
    width: fit-content;

    font-size: 2.5rem;
    font-weight: 900;
    color: white;
    background: #659933;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
    transition-duration: 0.2s;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.play_button:hover{
    transform: scale(1.1);
}

a {
    text-decoration: none;
    width: 100%;
}
